:root {
  --border-radius: 1px solid rgba(0, 0, 0, 0.3);
  --bg-color: rgba(225, 233, 237, 0.25);
}

* {
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  font-family: serif;
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background: url("https://images.unsplash.com/uploads/1413222992504f1b734a6/1928e537?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-blend-mode: multiply;
  background-color: rgba(57, 56, 56, 0.95);
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 3px black;
  width: 100%;
  height: 600px;
}

#link-title {
  margin: 30px auto;
}

h3 {
  margin: 15px;
}

a {
  text-decoration: underline;
  margin: 30px auto;
}

a:hover {
  padding: 2px 10px;
  border-radius: 4px;
  color: black;
  background-color: rgb(226, 232, 236);
  text-shadow: none;
}

h1 {
  font-size: 40px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border: var(--border-radius);
  margin: 50px auto;
  padding: 70px;
  max-width: 30%;
  font-size: x-large;
  align-items: center;
  align-content: center;
}

button {
  padding: 4px 8px;
  background-color: rgb(255, 221, 0);
  border: var(--border-radius);
  border-radius: 6px;
  color: black;
  font-size: large;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 2.5px solid white;
  margin: 20px 0;
  width: 90%;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
  * {
    font-size: large;
    margin: auto;
  }
  body {
    background-size: auto;
  }
  h3 {
    margin: 80px 0 0 2px;
  }
  h1 {
    margin: 40px;
    font-size: 25px;
  }
  form,
  .description {
    display: inline-block;
    max-width: 50%;
  }
  .description img {
    margin: 5px auto;
  }
}

@media only screen and (max-width: 480px) {
  * {
    font-size: large;
    margin: auto;
  }
  body {
    background-size: auto;
  }
  h3 {
    margin: 80px 0 0 2px;
  }
  h1 {
    margin: 40px;
    font-size: 25px;
  }
  button {
    margin: 4px;
  }
  form {
    display: inline-block;
    max-width: 40%;
  }
  .description img {
    margin: 10px auto;
  }
  input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 415px) {
  * {
    font-size: large;
    margin: auto;
  }
  body {
    background-size: auto;
  }
  h3 {
    margin: 80px 0 0 2px;
  }
  h1 {
    margin: 40px;
    font-size: 25px;
  }
  button {
    margin: 4px;
  }
  form,
  .description {
    display: inline-block;
    max-width: 70%;
  }
  .description img {
    margin: 10px auto;
  }
  input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 380px) {
  * {
    font-size: large;
    margin: auto;
  }
  body {
    background-size: auto;
  }
  h3 {
    margin: 80px 0 0 2px;
  }
  h1 {
    margin: 20px;
    font-size: 25px;
  }
  button {
    margin: 4px;
  }
  form,
  .description {
    display: inline-block;
    max-width: 70%;
  }
  .description img {
    margin: 10px auto;
  }
  input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 20px 0;
  }
}
