:root {
  --border-radius: 1px solid rgba(0, 0, 0, 0.3);
  --bg-color: rgba(122, 124, 126, 0.3);
  --main-color: rgb(215, 173, 121);
}

* {
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-family: serif;
  padding: 0;
  margin: 0;
  font-weight: bolder;
}

body {
  background: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  color: white;
}

#link-title {
  margin: 30px auto;
}

h3 {
  margin: 15px;
}

a {
  text-decoration: underline;
  color: white;
  margin: 30px auto;
}

a:hover {
  padding: 2px 10px;
  border-radius: 4px;
  background-color: var(--main-color);
  color: black;
}

h1 {
  font-size: 40px;
}
form {
  display: flexbox;
  background-color: var(--bg-color);
  margin: 50px auto;
  padding: 50px;
  border: var(--border-radius);
  max-width: 30%;
}

#output {
  text-shadow: 2px 2px 2px black;
  font-size: larger;
  padding: 10px;
}

.description {
  display: grid;
  background-color: var(--bg-color);
  grid-template-columns: 3;
  grid-template-rows: 3;
  list-style: 20px;
  margin: 30px auto;
  padding: 20px;
  border: var(--border-radius);
  max-width: 30%;
}

.description h3 {
  grid-column: 1/3;
  grid-row: 1;
  font-size: larger;
  vertical-align: middle;
}

.description img {
  grid-column: 1/2;
  grid-row: 1/3;
}

.description p {
  grid-column: 1;
  grid-row: 2;
  margin: 30px auto;
}

button {
  padding: 4px 8px;
  background-color: var(--main-color);
  border: var(--border-radius);
  border-radius: 6px;
}

button:hover {
  background-color: rgb(168, 119, 59);
  color: black;
  text-shadow: 1px 1px 3px white;
}

input[type="number"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  margin: 20px 0;
  color: white;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
  * {
    font-size: larger;
    margin: auto;
  }
  body {
    background-size: auto;
  }
  h3 {
    margin: 80px 0 0 2px;
  }
  h1 {
    margin: 40px;
    font-size: 25px;
  }
  form,
  .description {
    display: inline-block;
    max-width: 50%;
  }
  .description img {
    margin: 5px auto;
  }
  input[type="number"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    margin: 20px 0;
    color: white;
  }
}

@media only screen and (max-width: 480px) {
  * {
    font-size: large;
    margin: auto;
  }
  body {
    background-size: auto;
  }
  h3 {
    margin: 80px 0 0 2px;
  }
  h1 {
    margin: 40px;
    font-size: 25px;
  }
  button {
    margin: 4px;
  }
  form {
    display: inline-block;
    max-width: 40%;
  }
  .description img {
    margin: 10px auto;
  }
  input[type="number"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    margin: 20px 0;
    color: white;
  }
}

@media only screen and (max-width: 415px) {
  * {
    font-size: large;
    margin: auto;
  }
  body {
    background-size: cover;
  }
  h3 {
    margin: 80px 0 0 2px;
  }
  h1 {
    margin: 40px;
    font-size: 25px;
  }
  button {
    margin: 4px;
  }
  form,
  .description {
    display: inline-block;
    max-width: 70%;
  }
  .description img {
    margin: 10px auto;
  }
  input[type="number"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    margin: 20px 0;
    color: white;
  }
}

@media only screen and (max-width: 380px) {
  * {
    font-size: large;
    margin: auto;
  }
  body {
    background-size: cover;
  }
  h3 {
    margin: 80px 0 0 2px;
  }
  h1 {
    margin: 20px;
    font-size: 25px;
  }
  button {
    margin: 4px;
  }
  form,
  .description {
    display: inline-block;
    max-width: 70%;
  }
  .description img {
    margin: 10px auto;
  }
  input[type="number"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    margin: 20px 0;
  }
}
